# Constants for spruce adjective (Smokey Bear rating) scripts
# need to be sourced

export TARGETDIR_CA="/Volumes/CWMobileSSD/Geodata_fires/2020_COVID_AFS/cwfis_nrcan/spruce_adj_can"
export TARGETDIR_AK="/Volumes/CWMobileSSD/Geodata_fires/2020_COVID_AFS/mesowest_spruce"
export TARGETDIR_JOIN="/Volumes/CWMobileSSD/Geodata_fires/2020_COVID_AFS/spruce_adj_merged"
export SHPARCHIVESUB=SHP_Archive
export GTARCHIVESUB=GeoTIFF_Archive
export GTPRODSUB=GeoTIFF_Products
export SHPPRODSUB=SHP_Products
export FORECASTSUB=Forecasts
export DEPLOYSUB=SHP_Upload
export URLBASE_CA="https://cwfis.cfs.nrcan.gc.ca/downloads/fire_danger/"
export URLBASE_AK="https://akff.mesowest.org/static/grids/tiff/"